const TRIMMR_BASE_URL = 'https://trimmr.ai/api/v1'
const TRIMMR_EMAIL = 'user@gmail.com'
const TRIMMR_API_KEY = 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
const PRESET_UUID = 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'

export { TRIMMR_BASE_URL, TRIMMR_EMAIL, TRIMMR_API_KEY, PRESET_UUID }
